@model ManageBudgetVM

@{
    ViewData["Title"] = "Edit";
}

@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<h2>Edit</h2>

<form asp-action="Manage">
    <div class="form-horizontal">
        <h4>Budget</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <a asp-area="" asp-controller="Budgets" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger pull-right">Delete budget</a>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home page</a>
</div>