@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Charts"];
}

@section scripts {
    @await Html.PartialAsync("_ChartsScriptsPartial")
}

<div class="col-md-6">
    <h2>@Localizer["Last week"]</h2>
    <div class="last-week"></div>
</div>
<div class="col-md-6">
    <h2>@Localizer["Last month"]</h2>
    <div class="last-month"></div>
</div>