@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Charts"];
}

@section scripts {
    @await Html.PartialAsync("_ChartsScriptsPartial")
}

<div>
    <div class="row">
        <div class="col-md-6">
            <h2>@Localizer["Last week"]</h2>
            <div id="lastWeekChart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["Last month"]</h2>
            <div id="lastMonthChart" class="chart"></div>
        </div>
        <div class="col-md-6">
            <h2>@Localizer["Total"]</h2>
            <div id="totalChart" class="chart"></div>
        </div>
    </div>
</div>