@model ManageBudgetVM

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete budget "@Model.Name"?</h3>
<div>
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home page</a>
        </div>
    </form>
</div>