@model ManageBudgetVM
@inject IViewLocalizer Localizer

@{
    ViewData["PageTitle"] = Localizer["Delete budget"];
}

<h2>@Localizer["Delete budget"]</h2>

<h3>@Localizer["Are you sure you want to delete budget \"{0}\"?", Model.Name]</h3>
<form asp-action="Delete" asp-controller="Budgets">
    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
    |
    <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Back to Home page"]</a>
</form>
