@model Share

<div class="form-group">
    <label class="col-md-2 control-label">with</label>
    <div class="col-md-3 form-control-static">@Model.User.UserName</div>
    <div class="col-md-3"><select asp-for="Access" asp-items="ViewBag.Access" class="form-control"></select></div>
    <button class="btn btn-warning col-md-2">Remove share</button>
</div>