@using DioLive.Cache.Common
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject ICurrentContext CurrentContext

@{
    var cultureItems = new SelectList(LocOptions.Value.SupportedUICultures, "Name", "DisplayName");
    string currentCulture = CurrentContext.Culture;
}

<div>
    <form id="selectLanguage" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizontal" role="form">
        @Localizer["Language:"]
        <select name="culture" asp-for="@currentCulture" asp-items="cultureItems"></select>
        <button>OK</button>
    </form>
</div>