@inject IViewLocalizer Localizer

<li>
    <a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Sign up"]</a>
</li>
<li>
    <a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Sign in"]</a>
</li>