@inject IViewLocalizer Localizer
@model string

<li class="nav-item">
    <img src="@Url.Action("Photo", "Manage")" class="rounded" alt="avatar"/>
    <a class="navbar-text" asp-area="" asp-controller="Manage" asp-action="Index" title="@Localizer["Profile"]">@Model</a>
</li>
<li class="nav-item">
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="form-inline">
        <button type="submit" class="btn btn-link nav-link">@Localizer["Sign out"]</button>
    </form>
</li>