@model ProfileVM

@{
    ViewData["PageTitle"] = "Manage your account";
}

@section scripts {
    <partial name="_ManageAccountScriptsPartial" />
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="form-group">
        <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-warning">Change password</a>
    </div>

    <div class="form-group">
        <label asp-for="PurchaseGrouping" class="mr-5">Group purchases from:</label>
        <input class="form-control purchase-grouping-slider" type="text" data-provide="slider" data-slider-tooltip="hide" data-slider-ticks="[0, 2, 3, 4, 5]" data-slider-ticks-labels="[&quot;disable&quot;, &quot;2&quot;, &quot;3&quot;, &quot;4&quot;, &quot;5&quot;]" data-slider-ticks-positions="[0, 25, 50, 75, 100]" data-slider-value="@Model.PurchaseGrouping" />
    </div>

    <div class="form-check">
        <input asp-for="ShowPlanList" class="form-check-input show-plan-list" />
        <label class="form-check-label" asp-for="ShowPlanList">Show plans list:</label>
    </div>
</div>