@inject IViewLocalizer Localizer
@model (string currentCulture, SupportedCulture[] cultures)

<span class="btn-group btn-group-sm">
    @foreach (SupportedCulture culture in Model.cultures)
    {
        if (culture.Code == Model.currentCulture)
        {
            <button class="btn btn-success locale-switcher active" disabled="disabled">@culture.Label</button>
        }
        else
        {
            <button class="btn btn-success locale-switcher" name="culture" value="@culture.Code">@culture.Label</button>
        }
    }
</span>