body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.set-date-today, .set-date-yesterday {
    cursor: pointer;
}

.label-comments {
    background-color: #68bde0;
}

.jumbotron-success {
    background-color: #93c54b;
}

    .jumbotron-success a:not(.btn) {
        color: inherit;
        text-decoration: underline;
    }

        .jumbotron-success a:not(.btn):link, .jumbotron-success a:not(.btn):visited {
            -moz-text-decoration-style: dashed;
            text-decoration-style: dashed;
        }

        .jumbotron-success a:not(.btn):hover, .jumbotron-success a:not(.btn):active, .jumbotron-success a:not(.btn).active {
            -moz-text-decoration-style: solid;
            text-decoration-style: solid;
        }

.btn-basic {
    background: none;
    border: 2px solid rgb(93, 94, 87);
    color: inherit;
    outline: none !important;
}

    .btn-basic:hover, .btn-basic:visited, .btn-basic:active, .btn-basic.active {
        color: inherit;
    }

    .btn-basic:hover {
        border-color: rgb(62, 63, 58);
    }

input[type=number] {
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}